{% extends 'base_engr1102.html' %}
{% load staticfiles %} <!-- this may not be needed for this but if I load things like images here this will be needed -->
{% block title %}
  For Loops - {{ block.super }}
{% endblock title %}

{% block content %}
  <h1> Here lemme show you bout for loops  </h1>
  <p> different from while loops </p>
{% endblock content %}

{% block footer %}
  <p2> In this website you can see the projects our students have made<br>
   This year we have: </p2>
{% endblock footer %}
